{% load static %}
{% block extratyle %}
    <style>
        #web-map {
            width: 100%;
            height: 400px;
        }
    </style>
{% endblock %}

<div id="web-map"></div>
{% autoescape off %}
    <script type="text/javascript">
        var website_geo_points ={{ website.geo_points }};
        {#    var app_geo_points ={{ app.geo_points }};#}
        $(function () {
            $("#web-map").googleMap({
                zoom: 12, // Initial zoom level (optional)
                coords: [78.8718, 21.7679], // Map center (optional)
                type: "ROADMAP" // Map type (optional)
            });

            $.each(website_geo_points, function (key, value) {
                $("#web-map").addMarker({
                    coords: [value["geo"][0], value["geo"][1]],
                    title: value["geo"]["city_name"],
                    text: "<p><strong>Users: </strong>" + value["geo"]["count"] + "</p>"
                });
            });
        })
    </script>
{% endautoescape %}