{% load static %}
<div class="static-sidebar-wrapper sidebar-bluegray">
    <div class="static-sidebar">
        <div class="sidebar">
            <div class="widget" id="widget-profileinfo">
                <div class="widget-body">
                    <div class="userinfo ">
                        <div class="avatar pull-left">
                            <img src="https://s3-ap-southeast-1.amazonaws.com/overcart.media/User-blue.png"
                                 class="img-responsive img-circle">
                        </div>
                        <div class="info">
                            <span class="username" style="color: #2c7ea2">TestName</span>
                            <span class="useremail" style="color: #2c7ea2">TestEmail@overcart.com</span>
                        </div>

                        <div class="acct-dropdown clearfix dropdown">
                            <span class="pull-left"><span class="online-status online"></span>Online</span>
                            <!-- <span class="pull-right dropdown-toggle" data-toggle="dropdown"><a href="javascript:void(0)" class="btn btn-fab-caret btn-xs btn-fab"><i class="material-icons">arrow_drop_down</i><div class="ripple-container"></div></a></span>
                            <ul class="dropdown-menu">
                                <li><span class="online-status online"></span> Online</li>
                                <li><span class="online-status online"></span> Online</li>
                                <li><span class="online-status online"></span> Online</li>
                                <li><span class="online-status online"></span> Online</li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget stay-on-collapse" id="widget-sidebar">
                <nav role="navigation" class="widget-body">
                    <ul class="acc-menu">
                        <li class="nav-separator"><span>Navigation</span></li>
                        <li><a class="withripple" href="/app/real-time"><span class="icon"><i
                                class="fa fa-dashboard"></i></span><span>Real Time</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
